@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("Typewriter/cmuntt.eot");
  src: url("Typewriter/cmuntt.eot?#iefix") format("embedded-opentype"),
    url("Typewriter/cmuntt.woff") format("woff"),
    url("Typewriter/cmuntt.ttf") format("truetype"),
    url("Typewriter/cmuntt.svg#cmuntt") format("svg");
  font-weight: normal;
  font-style: normal;
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Computer Modern Typewriter";
}

body {
  background-color: rgb(48, 48, 48);
  color: gray;
}

.container div {
  display: inline-block;
  padding: 10px;
}

.container div p {
  font-weight: bold;
}

.container div a {
  display: block;
}

.null {
  opacity: 0;
}

.search {
  display: inline;
}
