/* https://medium.com/@haxzie/dark-and-light-theme-switcher-using-css-variables-and-pure-javascript-zocada-dd0059d72fa2 */

body {
  font-family: "Computer Modern Typewriter", "Computer Modern Serif";
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.link {
  color: red;
}

.container div {
  display: inline-block;
  padding: 10px;
}

.container div p {
  font-weight: bold;
}

.container div a {
  display: block;
}

.null {
  opacity: 0;
}

.search {
  display: inline;
}
