@import "./fonts/Computer Modern Serif/Serif/cmun-serif.css";

* {
  font-family: "Computer Modern Serif";
}

body {
  background-color: #f4f4f4;
  color: #0f0f0f;
}

.link {
  color: red;
}

.container div {
  display: inline-block;
  padding: 10px;
}

.container div p {
  font-weight: bold;
}

.container div a {
  display: block;
}

.null {
  opacity: 0;
}

.search {
  display: inline;
}
